.svn

# ignore maven
dist
target
build.log
release.properties
pom.xml.*

# ignore eclipse
.settings
.project
.classpath
.manager
.externalToolBuilders

# ignore sbt
target
lib_managed
project/boot
project/build/target
project/plugins/target
project/plugins/lib_managed
project/plugins/src_managed

# ignore IDEA
.idea
*.iml


# ignore ctags/etags
TAGS
